body{
    background-color:black;
    color: whitesmoke;
}

.queries{
    color:whitesmoke;
    font-size:21px;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    margin-left: 58px;
}
.mail{
    margin-top: -242px;
    color:whitesmoke;
    font-family: 'Roboto Slab', serif;
    
}

.phone{
    margin-top: 48px;
    color:whitesmoke;
    font-family: 'Roboto Slab', serif;
    margin-left: 58px;
}


/* .outer-left{
    font-family: 'Roboto Slab', serif;
    
    background-color: #000;
    height:145px;
    float:left;
    width:100%;
} */